@import url(https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Outfit:wght@100..900&display=swap);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Figtree' ;
}

body {
    background-color:hsl(47, 88%, 63%);
    min-width: 375px ;
    max-width: 1440px;

}
.card {
    background-color:hsl(0, 0%, 100%) ;
    padding: 20px;
    margin: 3rem auto;
    width: 500px;
    height: auto;
    border: 1px solid black;
    border-radius: 1rem;
    box-shadow: 10px 10px ;
    gap: 15px;
}
.card-image img {
    width: 100%;
    height: 100%;
    margin-bottom: 1rem;
    border-radius: 0.5rem
}
.bigbold {
    font-size: x-large;
    font-weight: 800;
    padding-bottom: 0.5rem;
}
h3 {
    background-color: hsl(47, 88%, 63%);
    border: 2px solid hsl(47, 88%, 63%);
    border-radius: 7px;
    padding: 4px 20px;
    margin-bottom: 0.5rem;
    width: fit-content;

}
.citation {
    display: flex;
    align-items: center;

}
.citation img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    margin-top: 0.5rem;
}
p.heavy {
    margin: 10px;
    font-weight: 800;
    margin-bottom: 0.5rem;
}
#p950 {
    font-weight: 500;
    margin-bottom: 0.5rem;
}
p.gray {
    color: hsl(0, 0%, 42%)
}
@media screen and (max-width:500px) {
    .card{
        width: 300px;
        margin: 2rem auto;
    }
}